<h2>Create an Author</h2>
<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_tag("/author") do %>
  Name: <%= text_field_tag "name", @person.name %>
  Email: <%= text_field_tag "email", @person.email %>
  Phone Number: <%= text_field_tag "phone_number", @person.phone_number %>
  <%= submit_tag "Create Author" %>
<% end %>
